.row {
    display: flex;
    flex-direction: row;
}
.blank {
    flex: 1;
}
.a {
    margin-right: 10px;
}
.red {
    background-color: rgb(199, 50, 50);
}
#menu {
    padding: 5px;
    color: white;
}
#chudau {
    font-size: 30px;
}
.cach {
    margin-top: 10px;
}
.giua {
    align-items: center;
}